@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Active Cases</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">88</div>
                        <div>Applicants</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Outstanding Fees</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar-check-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Follow up</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Cases per month
            </div>
            <div class="panel-body">
                <div id="chart-casespermonth"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Monthly Cashflow
            </div>
            <div class="panel-body">
                <div id="chart-monthlycashflow"></div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(function() {
            Morris.Bar({
                element: 'chart-casespermonth',
                stacked: true,
                data: [
                  { month: 'Jan', newProperty: 12, existingProperty: 4 },
                  { month: 'Feb', newProperty: 4, existingProperty: 1 },
                  { month: 'Mar', newProperty: 1, existingProperty: 1 },
                  { month: 'Apr', newProperty: 9, existingProperty: 7 },
                  { month: 'May', newProperty: 30, existingProperty: 7 },
                  { month: 'Jun', newProperty: 19, existingProperty: 16 },
                  { month: 'Jul', newProperty: 11, existingProperty: 19 },
                  { month: 'Aug', newProperty: 1, existingProperty: 14 },
                  { month: 'Sep', newProperty: 8, existingProperty: 20 },
                  { month: 'Oct', newProperty: 21, existingProperty: 14 },
                  { month: 'Nov', newProperty: 13, existingProperty: 3 },
                  { month: 'Dec', newProperty: 6, existingProperty: 2 }
                ],
                xkey: 'month',
                ykeys: ['newProperty', 'existingProperty'],
                labels: ['New Property', 'Existing Property'],
                resize: true
            });

            Morris.Area({
                element: 'chart-monthlycashflow',
                data: [
                  { month: 'Jan', income: 600.00 },
                  { month: 'Feb', income: 200.00 },
                  { month: 'Mar', income: 150.00 },
                  { month: 'Apr', income: 450.00 },
                  { month: 'May', income: 1500.00 },
                  { month: 'Jun', income: 650.00 },
                  { month: 'Jul', income: 550.00 },
                  { month: 'Aug', income: 350.00 },
                  { month: 'Sep', income: 400.00 },
                  { month: 'Oct', income: 490.00 },
                  { month: 'Nov', income: 650.00 },
                  { month: 'Dec', income: 300.00 }
                ],
                xkey: 'month',
                ykeys: ['income'],
                labels: ['Income'],
                resize: true,
                parseTime: false,
                preUnits: "£",
                fillOpacity: 0.3
            });
        });
    </script>
}