@{
    @addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link asp-href-include="~/css/*.css" rel="stylesheet"/>
    </environment>
    <environment names="Staging, Production">
        <link href="~/css/min/site.min.css" rel="stylesheet"/>
    </environment>
</head>
<body>
<environment names="Development">
    <script asp-src-include="~/js/*.js"></script>
</environment>
<environment names="Staging, Production">
    <script src="~/js/min/site.min.js"></script>
</environment>
<div>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">
            <div class="navbar-brand">Street Naming App</div>
        </div>
    </nav>
    @RenderBody()
</div>
</body>
</html>