@{
    Layout = "_layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>Street Naming</h1>
        <p>Placeholder front page</p>
        <p>
            <a asp-controller="Form" asp-action="NewProperty" class="btn btn-primary btn-lg" role="button">New Property Form</a>
        </p>
        <p>
            <a asp-controller="Form" asp-action="ExistingProperty" class="btn btn-primary btn-lg" role="button">Existing Property Form</a>
        </p>
    </div>
</div>