<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
        <link href="/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">
        <link href="/css/selectize.bootstrap3.css" rel="stylesheet">
    </environment>
    <environment names="Staging, Production">
        <link href="~/css/site.min.css" rel="stylesheet"/>
    </environment>
    <style>/* selectize IE fix*/ .selectize-input > input { line-height: normal !important; }</style>
</head>
<body>
<environment names="Development">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/selectize.js"></script>
</environment>
<environment names="Staging, Production">
    <script src="~/js/site.min.js"></script>
</environment>
@RenderSection("Scripts", false)
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand"><a href="http://www.bathnes.gov.uk">Bath & North East Somerset Council</a> > Street Naming & Numbering</div>
        </div>
    </div>
</nav>
<div class="body-content">
    @RenderBody()
    <hr/>
    <footer class="container text-muted">
        <ul class="list-inline">
            <li>
                <small>&copy; @DateTime.Now.Year Bath & North East Somerset Council</small>
            </li>
            <li>
                <small>
                    <a href="http://www.bathnes.gov.uk/accessibility">Accessibility</a>
                </small>
            </li>
            <li>
                <small>
                    <a href="http://www.bathnes.gov.uk/contact-us">Contact Us</a>
                </small>
            </li>
            <li>
                <small>
                    <a href="http://www.bathnes.gov.uk/disclaimer-and-privacy-statement">Disclaimer & Privacy Policy</a>
                </small>
            </li>
            <li>
                <small>
                    <a href="http://www.bathnes.gov.uk/cookies">Cookies</a>
                </small>
            </li>
            <li>
                <small>
                    <a href="http://www.bathnes.gov.uk/website-advertising">Advertising</a>
                </small>
            </li>
        </ul>
    </footer>
</div>
</body>
</html>