@using StreetNaming.Domain.Models
@model StreetNaming.Web.ViewModels.PaymentNoPaymentViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Case Saved";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center">
            <h1>
                <img class="img-responsive" src="~/img/BATHNES__RGB_1000.gif" alt="Bath & North East Somerset Council" />
            </h1>
        </div>
        <div class="col-sm-6 text-center">
            <h1 class="text-uppercase">@(Model.CaseType == CaseType.NewPropertyCase ? "Application to name or number a new property" : "Application to name or rename an existing property")</h1>
            <p>
                <small>
                    Public Health Act 1925: Section 17 & 18<br />Towns Improvement Clauses Act 1847: Section 64 & 65
                </small>
            </p>
        </div>
    </div>
</div>

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Case Saved Successfully</h3>
        </div>
        <div class="panel-body">
            <p class="lead">
                Thanks, we'll be in touch!
            </p>
            <dl class="dl-horizontal">
                <dt>Case Type</dt>
                <dd>@(Model.CaseType == CaseType.NewPropertyCase ? "New Property" : "Existing Property")</dd>
                <dt>Case Reference</dt>
                <dd>@Model.CaseReference</dd>
            </dl>
            <p>As you are not the property owner we will contact you using the information provided to discuss how to proceed.</p>
        </div>
    </div>
</div>